//$border-radius: 0;

$font-family-base: "Inter", sans-serif !default;
$header-nav-link-color: #333333;

/* Baeckereitechnik */
$orange: #e55920;
$primary: $orange;

/* Medizintechnik
$blue: #019ad9;
$primary: $blue; */

/* Elektrotechnik
$yellow: #fcc300;
$primary: $yellow; */