/* Navbar */

.navbar-brand, .navbar-brand > img {
  width: 16rem;
}

@media (max-width: 991.98px) {
  .navbar-expand-lg .navbar-brand, .navbar-expand-lg .navbar-brand > img {
    width: 13rem;
  }
  .navbar-expand-lg.navbar {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
  }
}

.js-header-fix-moment.scrolled:not(.header-moved-up) {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}

.header-top-links {
  background-color: #f5f5f5;
}

/* Hero */

.bg-img-hero .container, .bg-img-hero-center .container, .bg-img-hero-bottom .container {
  position: relative;
  z-index: 1;
}
.bg-img-hero:after, .bg-img-hero-center:after, .bg-img-hero-bottom:after {
  content: ' ';
  background: rgba(0, 0, 0, 0.55);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.bg-img-hero figure, .bg-img-hero-center figure, .bg-img-hero-bottom figure {
  z-index: 1;
}
