/* General */
a:hover h2, a:hover h3, a:hover h4, a:hover p {
  color: $primary;
}

.font-size-2 {
  font-size: 1.3rem;
}

/* Helper */
.text-no-hover-dark:not(:hover) {
  color: #000000;
}

.max-w-md-12rem {
  max-width: 12rem;
}

/* Navbar */

.navbar-brand, .navbar-brand > img {
  width: 16rem;
}

@media (max-width: 991.98px) {
  .navbar-expand-lg .navbar-brand, .navbar-expand-lg .navbar-brand > img {
    width: 13rem;
  }
  .navbar-expand-lg.navbar {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
  }
}

.js-header-fix-moment.scrolled:not(.header-moved-up) {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}

.header-top-links {
  background-color: #f5f5f5;
}

/* Hero */

.bg-img-hero .container, .bg-img-hero-center .container, .bg-img-hero-bottom .container {
  position: relative;
  z-index: 1;
}
.bg-img-hero:after, .bg-img-hero-center:after, .bg-img-hero-bottom:after {
  content: ' ';
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.bg-img-hero figure, .bg-img-hero-center figure, .bg-img-hero-bottom figure {
  z-index: 1;
}
.video-player-btn:not(:hover) .media-body {
  color: #ffffff;
}

/* Footer */

.brand {
  max-width: 20rem;
}