//$border-radius: 0;

$font-family-base: "Roboto", sans-serif !default;
$header-nav-link-color: #333333;


$orange: #e55920;
$blue: #019ad9;
$green: #96c300;

/* Baeckereitechnik */
$primary: $orange;

/* Medizintechnik
$primary: $blue; */

/* Elektrotechnik
$primary: $yellow; */