/* General */
.text-dark {
  color: #444444 !important;
}

a:hover h2, a:hover h3, a:hover h4, a:hover p {
  color: $primary;
}

.font-size-2 {
  font-size: 1.3rem;
}

p {
  line-height: 1.4;
}

h1, .h1 {
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 3.9rem;
  color: #333333;
}
h2, .h2 {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
  color: #333333;
}
h3, .h3, h4, .h4 {
  font-weight: 700;
  color: #333333;
}

/* Helper */
.text-no-hover-dark:not(:hover) {
  color: #333333;
}

.max-w-md-12rem {
  max-width: 12rem;
}

/* Navbar */

.navbar-brand, .navbar-brand > img {
  width: 16rem;
}

@media (max-width: 991.98px) {
  .navbar-expand-lg .navbar-brand, .navbar-expand-lg .navbar-brand > img {
    width: 13rem;
  }
  .navbar-expand-lg.navbar {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
  }
}

.js-header-fix-moment.scrolled:not(.header-moved-up) {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}

.header-top-links {
  background-color: #f5f5f5;
}
.header-top-links img {
  height: 1.3rem;
}

.header-top-links .nav-link:not(:hover):not(.active) img  {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.nav:not(.nav-pills) .nav-item.active .nav-link.vitalback-elektrotechnik, .nav:not(.nav-pills) .nav-link.vitalback-elektrotechnik.active, .nav .nav-link.vitalback-elektrotechnik:not(.active):hover {
  color: $green;
}
.nav:not(.nav-pills) .nav-item.active .nav-link.vitalback-baeckereitechnik, .nav:not(.nav-pills) .nav-link.vitalback-baeckereitechnik.active, .nav .nav-link.vitalback-baeckereitechnik:not(.active):hover {
  color: $orange;
}
.nav:not(.nav-pills) .nav-item.active .nav-link.vitalback-medizintechnik, .nav:not(.nav-pills) .nav-link.vitalback-medizintechnik.active, .nav .nav-link.vitalback-medizintechnik:not(.active):hover {
  color: $blue;
}
.nav:not(.nav-pills) .nav-item.active .nav-link.vitalback-group, .nav:not(.nav-pills) .nav-link.vitalback-group.active, .nav .nav-link.vitalback-group:not(.active):hover {
  color: #000000;
}

main {
  margin-top: 112px;
}

/* Hero */

.bg-img-hero .container, .bg-img-hero-center .container, .bg-img-hero-bottom .container {
  position: relative;
  z-index: 1;
}
.bg-img-hero:after, .bg-img-hero-center:after, .bg-img-hero-bottom:after {
  content: ' ';
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.bg-img-hero figure, .bg-img-hero-center figure, .bg-img-hero-bottom figure {
  z-index: 1;
}
.video-player-btn:not(:hover) .media-body {
  color: #ffffff;
}

/* Cards */

a .card:hover .btn-ghost-primary, a .card:focus .btn-ghost-primary, a .card:active .btn-ghost-primary {
  color: $primary;
  background-color: rgba($primary, .1);
}
a:hover h2, a:hover .h2, a:hover h3, a:hover .h3, a:hover h4, a:hover .h4 {
  color: #333333;
}

/* Footer */

.brand {
  max-width: 20rem;
}